@import "https://fonts.googleapis.com/css?family=Poppins:400,600,700,800";
@import "https://fonts.googleapis.com/css?family=Work+Sans:400,500,600";
@import "https://fonts.googleapis.com/css?family=Lora:400,700i";

@import "variables.scss";
@import "base.scss";

@import "components/component-footer.scss";
@import "components/burger-menu.scss";

.container {
  display: flex;
}
.main {
  position: relative;
  width: 55%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photo {
  width: 45%;
  height: 100vh;
  background-image: url("https://via.placeholder.com/1100");
  background-size: cover;
  background-position: center top;
}
.home {
  text-align: center;
  a.btn {
    color: #202020;
    text-decoration: none;
    font-family: $poppins;
    &:hover {
      background: #202020;
      color: #fff;
    }
  }
}
.about {
  .skills-block {
    margin-top: 80px;
    .skill {
      margin-bottom: 40px;
      span {
        display: block;
        font-family: $poppins;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 8px;
      }
      &-bar {
        padding: 2px;
        border: solid 1px #d0d0d0;
        .progress {
          background: #202020;
          height: 10px;
        }
      }
    }
  }
}
