@import "https://fonts.googleapis.com/css?family=Poppins:400,600,700,800";
@import "https://fonts.googleapis.com/css?family=Work+Sans:400,500,600";
@import "https://fonts.googleapis.com/css?family=Lora:400,700i";
@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";

@import "variables.scss";
@import "base.scss";

@import "components/component-footer.scss";
@import "components/burger-menu.scss";
@import "components/timeline-place.scss";
@import "components/material.scss";

.container {
  display: flex;
}
.main {
  position: relative;
  height: 100vh;
  width: 55%;
  padding: 30px;
  overflow: auto;
}
.photo {
  width: 45%;
  height: 100vh;
  background-image: url("https://via.placeholder.com/1100");
  background-size: cover;
  background-position: center top;
}
.home {
    text-align: center;
    position: relative;
    top: 20%;
  a.btn {
    color: #202020;
    text-decoration: none;
    font-family: $poppins;
    &:hover {
      background: #202020;
      color: #fff;
    }
  }
}
.about {
  padding: 40px;
  .skills-block {
    margin-top: 80px;
    .skill {
      margin-bottom: 40px;
      span {
        display: block;
        font-family: $poppins;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        font-size: 14px;
        margin-top: 0;
        margin-bottom: 8px;
      }
      &-bar {
        padding: 2px;
        border: solid 1px #d0d0d0;
        .progress {
          background: #202020;
          height: 10px;
        }
      }
    }
  }
}
.timeline{
  padding: 50px;
}
.portfolio{
  padding: 50px 0;
  ul{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    li{
      width: 50%;
      padding: 10px;
      position: absolute;
      &:nth-of-type(2){
        right: 0;
      }
      &:nth-of-type(3){
        top: 157px;
      }
      &:nth-of-type(4){
        right: 0;
        top: 291px;
      }
      &:nth-of-type(5){
        top: 448px
      }
      img{
        width: 100%;
      }
    }
  }
}
.contact{
  padding: 50px;
  margin-bottom: 77px;
}
