//BURGER ICON

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #202020;
  display: block;
  margin: 7px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-9 {
  position: fixed;
  right: 25px;
  top: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

#hamburger-9.open {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-9:before {
  content: "";
  position: absolute;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 5px solid transparent;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-9.open:before {
  // border: 4px solid #202020;
}

#hamburger-9.open .line {
  width: 30px;
}

#hamburger-9.open .line:nth-child(2) {
  opacity: 0;
}

#hamburger-9.open .line:nth-child(1) {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
}

#hamburger-9.open .line:nth-child(3) {
  -webkit-transform: translateY(-11px) rotate(90deg);
  -ms-transform: translateY(-11px) rotate(90deg);
  -o-transform: translateY(-11px) rotate(90deg);
  transform: translateY(-11px) rotate(90deg);
}

//MENU

.menu {
  position: absolute;
  z-index: 10;
  background: #fff;
  background: rgba(255, 255, 255, 0.97);
  top: 0;
  right: 0;
  height: 100%;
  width: 55%;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  .menu-main {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    .menu-items {
      display: table-cell;
      vertical-align: middle;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: block;
        margin-bottom: 14px;
        overflow: hidden;
        line-height: 22px;
        a {
          line-height: 22px;
          font-size: 22px;
          letter-spacing: 2px;
          font-weight: 600;
          display: inline-block;
          color: #898989;
          color: rgba(0, 0, 0, 0.4);
          text-decoration: none;
          text-transform: uppercase;
          -webkit-transform: translateY(120%);
          -moz-transform: translateY(120%);
          -ms-transform: translateY(120%);
          -o-transform: translateY(120%);
          transform: translateY(120%);
          -webkit-transition: transform 0.3s ease;
          -moz-transition: transform 0.3s ease;
          transition: transform 0.3s ease;
          padding: 10px 0;
          cursor: pointer;
          &:hover{
            color: #202020;
          }
        }
      }
    }
  }
}
.show-menu {
  position: fixed;
  visibility: visible;
  opacity: 1;
  .menu-items li:nth-of-type(1) > a {
    -webkit-transition: transform 0.2s 0.3s ease, color 0.3s ease;
    -moz-transition: transform 0.2s 0.3s ease, color 0.3s ease;
    transition: transform 0.2s 0.3s ease, color 0.3s ease;
  }
  .menu-items li:nth-of-type(2) > a {
    -webkit-transition: transform 0.2s 0.4s ease, color 0.3s ease;
    -moz-transition: transform 0.2s 0.4s ease, color 0.3s ease;
    transition: transform 0.2s 0.4s ease, color 0.3s ease;
  }
  .menu-items li:nth-of-type(3) > a {
    -webkit-transition: transform 0.2s 0.5s ease, color 0.3s ease;
    -moz-transition: transform 0.2s 0.5s ease, color 0.3s ease;
    transition: transform 0.2s 0.5s ease, color 0.3s ease;
  }
  .menu-items li:nth-of-type(4) > a {
    -webkit-transition: transform 0.2s 0.6s ease, color 0.3s ease;
    -moz-transition: transform 0.2s 0.6s ease, color 0.3s ease;
    transition: transform 0.2s 0.6s ease, color 0.3s ease;
  }
  .menu-items li:nth-of-type(5) > a {
    -webkit-transition: transform 0.2s 0.7s ease, color 0.3s ease;
    -moz-transition: transform 0.2s 0.7s ease, color 0.3s ease;
    transition: transform 0.2s 0.7s ease, color 0.3s ease;
  }
  .menu-items li:nth-of-type(6) > a {
    -webkit-transition: transform 0.2s 0.8s ease, color 0.3s ease;
    -moz-transition: transform 0.2s 0.8s ease, color 0.3s ease;
    transition: transform 0.2s 0.8s ease, color 0.3s ease;
  }

  a {
    -webkit-transform: translateY(0) !important;
    -moz-transform: translateY(0) !important;
    -ms-transform: translateY(0) !important;
    -o-transform: translateY(0) !important;
    transform: translateY(0) !important;
  }
}
