<li>
  <a href="https://www.facebook.com/guilherme.galli.3" target="_blank">
    <i class="fab fa-facebook-f"></i>
  </a>
</li>
<li>
  <a href="https://www.instagram.com/guiggalli/" target="_blank">
    <i class="fab fa-instagram"></i>
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/in/guilherme-galli/" target="_blank">
    <i class="fab fa-linkedin-in"></i>
  </a>
</li>
<li>
  <a href="https://github.com/ggalli" target="_blank">
    <i class="fab fa-github"></i>
  </a>
</li>