<li>
  <a href="https://www.facebook.com/guilherme.galli.3">
    <i class="fab fa-facebook-f"></i>
  </a>
</li>
<li>
  <a href="https://www.instagram.com/guiggalli/">
    <i class="fab fa-instagram"></i>
  </a>
</li>
<li>
  <a href="https://www.linkedin.com/in/guilherme-galli/">
    <i class="fab fa-linkedin-in"></i>
  </a>
</li>
<li>
  <a href="https://github.com/ggalli">
    <i class="fab fa-github"></i>
  </a>
</li>