{{#link-to 'contact' class='hire-me'}}Me contrate{{/link-to}}
<ul class="socials">
    <li><a href="https://www.facebook.com/guilherme.galli.3">{{fa-icon "facebook-f"}}</a></li>
    <li><a href="https://www.instagram.com/guiggalli/">{{fa-icon "instagram"}}</a></li>
    <li><a href="https://www.linkedin.com/in/guilherme-galli/">{{fa-icon "linkedin-in"}}</a></li>
    <li><a href="https://github.com/ggalli">{{fa-icon "github"}}</a></li>
</ul>