<section class="home">
    <div class="wrapper">
        <h1>Guilherme<br>Guimarães<br>Galli</h1>
        <h2>Desenvolvedor Front-End</h2>
        {{#link-to 'portfolio' class='btn btn-custom'}}Portfólio{{/link-to}}
    </div>
</section>
{{component-footer}}