<section class="portfolio">
    <div class="wrapper">
        <h3>Dê uma olhada nos meus trabalhos</h3>
        <ul>
            <li><img src="https://via.placeholder.com/700x430" alt=""></li>
            <li><img src="https://via.placeholder.com/450x550" alt=""></li>
            <li><img src="https://via.placeholder.com/450x550" alt=""></li>
            <li><img src="https://via.placeholder.com/500x500" alt=""></li>
            <li><img src="https://via.placeholder.com/700x430" alt=""></li>
        </ul>
    </div>
</section>