<section class="portfolio">
    <div class="wrapper">
        <h3>Dê uma olhada nos meus trabalhos</h3>
        <ul>
            <div class="left">
                <li><img src="assets/images/template1.jpg" alt=""></li>
                <li><img src="assets/images/template2.jpg" alt=""></li>
                <li><img src="assets/images/template3.png" alt=""></li>
            </div>
            <div class="right">
                <li><img src="assets/images/template4.jpg" alt=""></li>
                <li><img src="assets/images/template5.jpg" alt=""></li>
                <li><img src="assets/images/template6.jpg" alt=""></li>
            </div>
        </ul>
        <span class="fake-jobs">Imagens meramente ilustrativas</span>
    </div>
</section>