<div class="hamburger {{if isActive "open"}}" id="hamburger-9" {{action "toogleMenu"}}>
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<div class='menu {{if isActive 'show-menu'}}'>
  <nav class="menu-main">
    <ul class="menu-items">
      <li>
        <a href="#home">Home</a>
      </li>
      <li>
        <a href="#about">Sobre</a>
      </li>
      <li>
        <a href="#resume">Qualificações</a>
      </li>
      <li>
        <a href="#portfolio">Portfolio</a>
      </li>
      <li>
        <a href="#blog">Linha do tempo</a>
      </li>
      <li>
        <a href="#contact">Contato</a>
      </li>
    </ul>
  </nav>
</div>